/* styling for body, white pink bg, pink text color, font established, padding added */
body {
    background-color: #f8d3eb;
    color: #ff45c4;
    font-family: "Courier New", monospace;
    margin: 0;
    padding: 20px;
    line-height: 1.6;
}

/* styling for header, center aligned, padding added, border added at bottom */
header {
    text-align: center;
    padding: 20px;
    border-bottom: 2px solid #ff45c4;
}

/* H1 tag in header larger font size, margin reset, shadow added */
header h1 {
    font-size: 2.5rem;
    margin: 0;
    text-shadow: 0 0 5px #ff45c4;
}

/* p tag in header font size larger, color pink */
header p {
    font-size: 1.2rem;
    color: #ff45c4;
}

/* max width and padding set for main */
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* h2 tag color and shadow set along with border and padding at the bottom */
h2 {
    color: #ff45c4;
    text-shadow: 0 0 5px #ff45c4;
    border-bottom: 1px solid #ff45c4;
    padding-bottom: 10px;
}

/* styling for content class, bg color, text color, padding and margin hz,box shadow added */
.content {
    background-color: #ffe6f6;
    border: 1px solid #ff45c4;
    padding: 15px;
    margin: 15px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px #ff45c4;
    transition: all 0.2s ease;
}

.content:hover{
    transform: scale(1.05);
}

/* h3 styling color pink with no margin at top */
.content h3 {
    color: #ff45c4;
    margin-top: 0;
}

/* p styling color pink */
.content p {
    color: #ff45c4;
}

/* pre styling */
pre {
    background-color: #ffd8f3;
    padding: 10px;
    border-radius: 10px;
    overflow-x: auto;
}

/* code color */
code {
    color: #ff45c4;
}


