body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: "Jersey 10", sans-serif;
}

body {
    background-image: url('https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExczNja2RvMnNiNHVqYm9lemc2c3pxcHJ1OXA1eWE5OGFwa3VmOHYwcSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/mC7Q3G0j9l8xD4biTl/giphy.gif');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.nav-bar {
    background-color: #000000a6; 
    padding: 20px 0; 
}

.nav-bar ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: center; 
}

.nav-bar ul li {
    margin: 0 15px;
}

.nav-bar ul li a {
    color: #f1f1f1; 
    text-decoration: none; 
    font-size: 20px; 
    padding: 10px 15px; 
    transition: all 0.3s ease; 
}

.nav-bar ul li a:hover {
    color: #ffd428; 
    text-shadow: 0 0 10px #ffd428, 0 0 20px #ffd428;
}

#heading {
    font-size: 100px;
    color: #ffcc00; 
    text-shadow: 4px 4px 8px #000000b3; 
    text-align: center; 
    margin-top: 50px; 
    margin-bottom: 20px; 
}

#description {
    font-size: 25px; 
    color: #f1f1f1; 
    text-shadow: 1px 1px 2px #000000b3; 
    margin-bottom: 20px; 
    margin-top:0;
}

.welcome{
    padding: 20px;
    background: #cbabe699;
    border-radius: 10px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:80%;
    max-width:600px;
    letter-spacing:0.05rem;
}
