body{
    margin:0;
    padding:0;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align:center
}

header{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper{
    max-width:1200px;
    margin:auto;
}


.nav-bar ul {
    display:flex;
    text-align:center;
    list-style-type:none;
    gap: 5rem;

}

.nav-bar ul li a{
    text-decoration:none;
    text-transform:uppercase;

}

ul{
    display: inline-block;
    text-align: left; 
    list-style-position: inside; 
    padding-left: 0; 
}