body{
    margin:0;
    padding:0;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align:center;
    box-sizing: border-box;
    background-color: #e1f8e0;
    color:#0a290b;

}

header{
    position:fixed;
    top:0;
    width:100%;
    z-index:1000;
    background-color:#c5efc3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 4px solid #9fd69d; 
    box-shadow: 0 4px 10px #00000080;
}

.nav-bar{
    margin:auto;
    max-width: 1200;
    background-color: #c5efc3; 
    padding: 15px 0;
    text-align: center;
}

.nav-bar ul {
    margin:0;
    padding:0;
    display:flex;
    justify-content:center;
    list-style-type:none;
    gap:5rem;

}

.nav-bar ul li a{

    text-decoration:none;
    text-transform:uppercase;
    color:#0a290b;
    font-size:18px;
    padding: 10px 20px;
    border:2px solid #9fd69d;
    border-radius: 8px;
    transition:all 0.3 ease;
    box-shadow:0 0 10px #63cc61;

}

.nav-bar ul li a:hover {
    background-color: #9fd69d; 
    color: #ffffff; 
    box-shadow: 0 0 20px #53ff53, 0 0 40px #53ff53; 
    transform: scale(1.5); 
}

ul{
    display: inline-block;
    text-align: left; 
    list-style-position: inside; 
    padding-left: 0; 
}

h1,h2,h3{
    letter-spacing:0.2rem;
    color:#0a290b;
}

section {
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding: 40px;
    text-align:center;
    scroll-margin-top:80px;
}

.button {
    margin-top: 40px; 
}

.button a {
    background-color: #c5efc3; 
    color: #0a290b; 
    padding: 15px 30px;
    border: 2px solid #9fd69d;
    border-radius: 8px;
    text-decoration: none;
    font-size: 18px;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px #00ff004d;
}

.button a:hover {
    background-color: #9fd69d; 
    color: #ffffff; 
    box-shadow: 0 0 20px #53ff53, 0 0 40px #53ff53; 
    transform: scale(1.5); 
}

hr {
    border: 2px solid #9fd69d; 
    margin: 80px auto; 
    width: 80%; 
    max-width: 800px;
}