body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: "Jersey 10", sans-serif;
}

body {
    background-image: url('https://i.redd.it/jpa0s2lsfpl51.gif');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.nav-bar {
    background-color: #0616249f; 
    padding: 20px 0; 
}

.nav-bar ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: center; 
}

.nav-bar ul li {
    margin: 0 15px;
}

.nav-bar ul li a {
    color: #f1f1f1; 
    text-decoration: none; 
    font-size: 20px; 
    padding: 10px 15px; 
    transition: all 0.3s ease; 
}

.nav-bar ul li a:hover {
    color: #1aeafd; 
    text-shadow: 0 0 10px #1aeafd, 0 0 20px #1aeafd;
}

#heading {
    font-size: 100px;
    color: #1aeafd; 
    text-shadow: 4px 4px 8px #0616249f; 
    text-align: center; 
    margin-top: 50px; 
    margin-bottom: 20px; 
}

.category-box {
    padding: 20px;
    background: #8fb4d499; 
    border-radius: 10px;
    margin: 20px auto; 
    width: 80%;
    max-width: 800px; 
    font-size: 1.05rem;
    letter-spacing: 0.05rem;
}

.category-box h3 {
    color: #1aeafd; 
    text-shadow: 2px 2px 4px #0011209f; 
    margin-bottom: 10px; 
    letter-spacing:0.05rem;
}

.category-box ul {
    list-style-type: none; 
    padding: 0;
}

.category-box ul li {
    margin-bottom: 10px;
    color: #000e1af4; 
}