body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: "Jersey 10", sans-serif;
}

body {
    background-image: url('https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExaTR3dDExOHRvd2FvODQ1Z3d1eHdiOHllejZ4OWRqN3U5ZGdqcGF2NSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/TgDVddf7BR2cMwJ3Jb/giphy.gif');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.nav-bar {
    background-color: #1c0600a6; 
    padding: 20px 0; 
}

.nav-bar ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: center; 
}

.nav-bar ul li {
    margin: 0 15px;
}

.nav-bar ul li a {
    color: #f1f1f1; 
    text-decoration: none; 
    font-size: 20px; 
    padding: 10px 15px; 
    transition: all 0.3s ease; 
}

.nav-bar ul li a:hover {
    color: #5eff28; 
    text-shadow: 0 0 10px #5eff28, 0 0 20px #5eff28;
}