body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: "Jersey 10", sans-serif;
}

body {
    background-image: url('https://images.steamusercontent.com/ugc/1797477425519878747/48E9945176AAE37276FA45E6658820D6CAA6C703/?imw=5000&imh=5000&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.nav-bar {
    background-color: #181818b5; 
    padding: 20px 0; 
}

.nav-bar ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: center; 
}

.nav-bar ul li {
    margin: 0 15px;
}

.nav-bar ul li a {
    color: #f1f1f1; 
    text-decoration: none; 
    font-size: 20px; 
    padding: 10px 15px; 
    transition: all 0.3s ease; 
}

.nav-bar ul li a:hover {
    color: #ff3e28; 
    text-shadow: 0 0 10px #ff3e28, 0 0 20px #ff3e28;
}

#heading {
    font-size: 100px;
    color: #ff2a12; 
    text-shadow: 4px 4px 8px #1b0200c4; 
    text-align: center; 
    margin-top: 50px; 
    margin-bottom: 20px; 
}