body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: "Jersey 10", sans-serif;
}

body {
    background-image: url('https://forums.terraria.org/index.php?attachments/corruptionhd-gif.412692/');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.nav-bar {
    background-color: #120021b5; 
    padding: 20px 0; 
}

.nav-bar ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: center; 
}

.nav-bar ul li {
    margin: 0 15px;
}

.nav-bar ul li a {
    color: #f1f1f1; 
    text-decoration: none; 
    font-size: 20px; 
    padding: 10px 15px; 
    transition: all 0.3s ease; 
}

.nav-bar ul li a:hover {
    color: #9e28ff; 
    text-shadow: 0 0 10px #9e28ff, 0 0 20px #9e28ff;
}

#heading {
    font-size: 100px;
    color: #9e28ff; 
    text-shadow: 4px 4px 8px #002507b3; 
    text-align: center; 
    margin-top: 50px; 
    margin-bottom: 20px; 
}

main {
    padding: 20px;
    background: #c08fd49f;
    border-radius: 10px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:80%;
    max-width:600px;
    letter-spacing:0.05rem;
    color: #1c0025e7;
    font-size: 1.05rem;
}

