body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: "Jersey 10", sans-serif;
}

body {
    background-image: url('https://forums.terraria.org/index.php?attachments/corruptionhd-gif.412692/');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

