/* styling for body, font, color, flex, center alignment, minimum height */
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #1e1e1e;
}

/* styling for calculator container, bg color, rounded corners, shaddow, padding and width, center alignment */
.calculator-container {
    background-color: #fbfbfb;
    border-radius: 20px;
    box-shadow: 0 4px 12px #1313131a;
    padding: 30px;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

/* styling for heading */
h1 {
    color: #23394f;
    margin-bottom: 25px;
    font-size: 25px;
}

/* styling for input group, margin added at the bottom, left aligned text */
.input-group {
    margin-bottom: 20px;
    text-align: left;
}

/* styling for label in input group, displayed a sblock, bottom margin, font weight and color of text */
.input-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    color: #586a7b;
}

/* styling for input field, width padding, rounded border, font size, 0.2s transition*/
input[type="number"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    transition: border 0.2s, box-shadow 0.2s;
}

/* styling for focus state when inputing, border color changes and shadow is added */
input[type="number"]:focus {
    border-color: #fff27f;
    box-shadow: 0 0 0 3px #fff27f;
    outline: none;
}