/* styling for body, resetting spacing of margin and padding, flexbox, height determined */
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* styling for header text color and background color, padding and center align */
header {
    color: #FFFFFF;
    background-color: #17072b;
    padding: 20px 0;
    text-align: center;
}

/* styling for h1, font styling and underline */
header h1 {
    font-family: "Tahoma", sans-serif;
    font-weight: 700;
    margin-top: 5px;
    font-size: 2.5em;
    border-bottom: 5px solid white;
    display: inline-block;
}

/* navbar styling */
.nav-bar ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 5px 0 0;
}

/* spacing between list */
.nav-bar li {
    margin: 0 17px;
}

/* anchor tag styling, color and font styling */
.nav-bar a {
    color: #FFFFFF;
    text-decoration: none;
    font-family: "Tahoma", sans-serif;
    font-size: 1.6em;
}

/* styling for content wrapper, positions using flex */
.content-wrapper {
    display: flex;
    flex: 1;
    align-items: flex-start; 
    gap: 20px;
}

/* styling for main, padding and sizing */
main {
    padding: 5px 0 5px 30px;
    width: 70%;
    box-sizing: border-box;
}

/* h2 styling font and underline */
main h2 {
    font-family: "Tahoma", sans-serif;
    font-size: 1.8em;
    border-bottom: 3px solid #000000;
    display: inline-block;
}

/* styling for p in main */
main p {
    margin:0 0 15px 0;
    font-family: "Arial", sans-serif;
    font-weight: 400;
    font-size:1.1em;
}

/* img sizing */
main img {
    width:90%;
}

/* styling for column, colors, padding, size, alignment */
.right-clmn {
    color:#FFFFFF;
    background-color: #172d67;
    padding: 20px;
    width: 30%;
    margin-top: 20px;
    top: 0; 
    align-self: flex-start; 
}

/* h2 styling font and underline */
.right-clmn h2 {
    font-family: "Tahoma", sans-serif;
    font-size: 1.8em;
    border-bottom: 3px solid #FFFFFF;
    display: inline-block;
    margin-top: 0;
}

/* p styling */
.right-clmn p {
    font-family: "Arial", sans-serif;
    line-height: 1.8;
    margin: 0 0 15px 0;
}

/* line break styling for more space between p sentences */
.right-clmn p br {
    display: block; 
    content: ""; 
    margin-bottom: 10px; 
}

/* img styling */
.right-clmn img {
    width: 150px;
    height: 160px; 
    object-fit: cover; 
    display: inline-block; 
    margin: 10px 10px 10px 0; 
}

/* styling for img row */
.image-row {
    display: flex; 
    flex-wrap: wrap; 
    gap: 10px; 
}

/* footer styling, color, font, padding and position */
footer {
    background-color: #8c15e9;
    font-family: "Arial", sans-serif;
    color: white;
    text-align: center;
    padding: 10px 0;
    clear: both;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 5px;
}
